*{
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
}
ul,ol{
  list-style: none !important;
}
a{
  text-decoration: none !important;
}
.container{
  /* width: 90% !important; */
  max-width: 1230px !important;
  margin: 0 auto !important;
}