.latest_part{
    height: 1250px;
    background: rgb(19, 6, 36);
}

.latest_h3{
    font-family: 'Playfair Display', serif;
    font-size: 60px;
    font-weight: 700;
    color: #fff;
    text-align: center;
}

.latest_item {
    width: 100%;
    height: 445px;
    background: rgba(255, 255, 255, 0.05);
    margin-top: 50px !important;
    border-radius: 20px;
    padding: 16px !important;
    text-align: center;
    margin-bottom: -23px !important;
}

.col-lg-3 { 
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.latest_item_list> *:nth-child(odd){
    margin-top: 20px !important;
}

.latest_img {
    width: 100%;
    object-fit: cover;
    height: 340px;
    border-radius: 20px;
}

.latest_h4 {
    font-family: 'Playfair Display', serif;
    font-size: 26px;
    font-weight: 700;
    color: #fff;
    font-style: italic;
    margin-top: 11px !important;
}

.latest_span {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #B7B4BB;
    margin-top: 6px !important;
    display: block;
}