.nav_part{
    padding: 20px 0 !important;
    background: #0F051D;
}

.logo{
    color: #fff !important;
}

.nav_list {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    margin-left: 41px !important;
}

.nab_btn {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 15px !important;
    font-weight: 600 !important;
    border-radius: 30px;
    color: #fff;
    margin-left: 85px !important;
    border: 2px solid rgba(255, 255, 255, 0.15);
    background: transparent;
}