@media (min-width: 320px) and (max-width: 575px){
    .navbar-expand .navbar-nav {     
        display: none;
    }
    .nab_btn {   
        font-size: 13px !important; 
        padding: 11px 20px !important;
        margin-left: 0px !important;    
    }
    .nav_part{
        padding: 10px 0 !important;
        background: #703db8;
    }
    .banner_part {
        height: 450px !important;      
    }
    .banner_h2 {
        font-size: 41px !important;
        font-weight: 600 !important;
        width: 200px !important;
        line-height: 49px !important;
        margin-top: -48px !important;
    }
    .banner_p {      
        font-size: 18px !important;       
        width: 277px !important;
        line-height: 27px !important;
        margin-top: 20px !important;
    }
    .bannerimg_item {   
        display: none;
    }
    .mint_part {
        padding: 10px 0 !important;     
    }
    .main_title_h3 {    
        font-size: 37px !important;      
    }
    .maint_main {
        display: flex !important;
        flex-wrap: wrap !important;
    }
    .maint_left {
        width: 100% !important;
        display: flex !important;
        justify-content: center !important;
    }
    .maint_right {
        width: 100% !important;
    }
    .maint_img {
        width: 33% !important;
    }
    .mint_h2 {
        font-size: 26px !important;
        text-align: center !important;
        line-height: 38px !important;
        margin-top: 13px !important;
    }
    .mint_p {
        font-size: 14px !important;
        color: #b7b4bb !important;
        margin-top: 16px !important;
        width: 187px !important;
        text-align: center !important;
        line-height: 24px !important;
        margin: 0 auto !important;
    }   
    .about_part {
        height: 1007px !important;        
    }
    .about_img {
        width: 100% !important;
    }
    .about_h3 {      
        font-size: 40px !important; 
    }
    .about_span {       
        display: block;
        margin-top: 40px !important;
        text-align: center !important;
    }
    .about_h2 {
        text-align: center !important;      
        font-size: 44px !important;   
        width: 300px !important;
        line-height: 57px !important;
    }    
    .about_p {
        font-size: 17px !important;
        width: 239px !important;
        text-align: center !important;    
        margin: 0 auto !important;
    }
    .about_main {
        display: block !important;       
        margin-top: 60px !important;      
        text-align: center !important;
    }
    .about_text_p {       
        width: 261px;
        margin: 9px auto !important;
    }
    .latest_h3 {       
        font-size: 40px !important;    
        margin-bottom: -62px !important;   
    }

    .latest_item {      
        margin: 0 0 30px !important;
    }
    .latest_item_list> *:nth-child(odd){
        margin-top: 5px !important;
    }
   
}